<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>没有权限哦！</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="text-center">
    <div class="jumbotron">
        <h1>抱歉您没有权限访问此页面！</h1>
        <p>如果需要访问此页面请向管理员申请哦</p>
        <p><a class="btn btn-primary btn-lg" href="/index" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 回到首页</a></p>
    </div>
</div>
</body>
</html>