<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <style type="text/css">
        *{
            margin:0px;
            padding: 0px;
            list-style: none;
            font-family: "微软雅黑";
            color: #000000;
            text-decoration: none;
        }
        .one{
            margin-left: 40%;
            width:90%;
            height: 100px;
            padding-top: 40px;

        }
        .one a:hover{
            color: gray;
        }
        .aa{
            width: 700px;
            height: 300px;
            margin: auto;
        }
    </style>
</head>
<body>
<div style="background-color:#EEEEEE; width: 100%;margin-bottom: 10%">
    <div class="one" >
        <div class="nav-item " style="float: left;margin-left: 50px;">
            <a href="__ROOT__/index"​>首页</a>
        </div>
        <div class="nav-item " style="float: left;margin-left: 50px;">
            <a href="#"​>课程分类</a>
        </div>
        <div class="nav-item " style="float: left;margin-left: 50px;">
            <a href="#"​>精品课程</a>
        </div>
        <div class="nav-item " style="float: left;margin-left: 50px;">
            <a href="#"​>推荐课程</a>
        </div>
        <div class="nav-item " style="float: left;margin-left: 50px;">
            <a href="#"​>趣味课堂</a>
        </div>
        <div class="nav-item " style="float: left;margin-left: 50px;">
            <a href="__ROOT__/teacher"​>返回教师中心</a>
        </div>
        <div class="nav-item " style="float: left;margin-left: 50px;">
            <a href="#"​ onclick="logout()">退出登陆</a>
        </div>
    </div>
</div>